<!DOCTYPE html>
<html>
<head>
  <title>RecipeRoulette</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-J6qa4849blE2+poT4WnyKhv5>

  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'custom', 'data-turbo-track': 'reload' %>
  <!-- Include custom.css file -->
</head>
<body>
  <%= yield %>

  <!-- Bootstrap JS Bundle -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9DyV+></body>
</html>

